.perfil-modal {
    background-image: url("../../imagens/helloquence-61189.jpg");
    background-size: cover;
    height: 60vh;
    padding: 2.2em;
    color: white;
}

.row {
    display: flex;
}

.row h3{
    font-size: 27px;
}

.right-align {
    margin-left: 70vw;
}

.right-align a{
    color: white;
    text-decoration: white;
}

.perfil-bottom {
    margin-top: 15em;
}

.perfil-bottom h1{
    font-size: 46px;
    line-height: 30px;
}

.perfil-bottom h3 {
    font-size: 26px;
}